{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block doc %}
    {% block html %}
    
        {% block head %}
        {{ super() }}
        <title>{% block title %}Agriculture Yield Enhancement System{% endblock %} Home Page</title>
            {% block metas %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">    
            {% endblock %}
        
            {% block styles %}
            <link href="/static/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="/static/Home/css/scrolling-nav.css" rel="stylesheet">          
            {% endblock %}
        {% endblock %}

      {% block body %}
        {% block content %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
          <div id="google_translate_element"></div>         
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{{ url_for('register') }}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#contact"></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>      

              <header class="bg-primary text-white">
                <div class="container text-center">
                  <h1>Welcome to Agriculture Yield Enhancement System</h1>
                  <p class="lead"></p>
                </div>
              </header>
              <section id="about">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <h2>About this page</h2>
                      <p class="lead">This page intends to improve the yield and produce of a land by providing insights into the possible and suitable crops and the relevant necessary fertilizers.The salient features include:
                      </p>
                      <ul>
                        <li>Easy to use UI</li>
                        <li>Simple non complex steps</li>
                        <li>Based on recent data</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            
              <section id="services" class="bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <h2>What To Do?</h2>
                      <p class="lead">Follow a series of 3 easy steps for a better crop yield!</p>
                      <div class="row about-cols">
            
                        <div class="col-md-4 wow fadeInUp">
                          <div class="about-col">
                            <div class="img">
                              <img src="account.png" alt="" class="img-fluid">
                              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Step 1:</a></h2>
                            <p>
                              Create an Acoount by clicking Sign Up.
                              If you have one Login!
                            </p>
                          </div>
                        </div>
              
                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="about-col">
                            <div class="img">
                              <img src="reportcard.png" alt="" class="img-fluid">
                              <div class="icon"><i class="ion-ios-list-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Step 2:</a></h2>
                            <p>
                              Upload Soil Health Card
                            </p>
                          </div>
                        </div>
              
                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="about-col">
                            <div class="img">
                              <img src="crop.jpg" alt="" class="img-fluid">
                              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Step 3:</a></h2>
                            <p>
                              Select a region and get to know the fertilisers required to grow the most favourable crops!
                            </p>
                          </div>
                        </div>
              
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
              <section id="contact">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <h2>Contact us</h2>
                      <p class="lead">For any queries contact:<br>
                        karthikks.cs17@rvce.edu.in<br>
                        bsumukhaadiga.cs17@rvce.edu.in<br>
                        aravind.cs17@rvce.edu.in
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            
              <!-- Footer -->
              <footer class="py-5 bg-dark">
                <div class="container">
                  <p class="m-0 text-center text-white"></p>
                </div>
                <!-- /.container -->
              </footer>




        {% endblock %}
      {% endblock %}


        {% block scripts %}    
        <script src="/static/Home/vendor/jquery/jquery.min.js"></script>
        <script src="/static/Home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      
        <!-- Plugin JavaScript -->
        <script src="/static/Home/vendor/jquery-easing/jquery.easing.min.js"></script>
      
        <!-- Custom JavaScript for this theme -->
        <script src="/static/Home/js/scrolling-nav.js"></script>
        <script type="text/javascript">  
          function googleTranslateElementInit() {  
              new google.translate.TranslateElement( 
                  {pageLanguage: 'en'},  
                  'google_translate_element' 
              );  
          }  
        </script>  
        
      <script type="text/javascript" src= "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"> 
      </script>  

        {{super()}}
        {% endblock %}


    {% endblock %}
{% endblock %}
<!-- end document-->